@page "/crowdinfo/{Id:int}"
@page "/crowdinfodetail/{Id:int}"
@using System.Net.Http.Json
@using CitizenHackathon2025V5.Blazor.Client.DTOs

<h3>Crowd Info Detail</h3>

@if (CurrentCrowdInfo is null)
{
    <p>Loading Crowd Info details...</p>
}
else
{
    <div class="detail-container bordeaux-background">
        <p><strong>Name:</strong> @CurrentCrowdInfo.LocationName</p>
        <p><strong>Latitude:</strong> @CurrentCrowdInfo.Latitude</p>
        <p><strong>Longitude:</strong> @CurrentCrowdInfo.Longitude</p>
        <p><strong>Crowd Level:</strong> @CurrentCrowdInfo.CrowdLevel</p>
        <p><strong>Date:</strong> @(CurrentCrowdInfo.Timestamp.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss"))</p>
    </div>
}
























































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




