@inject Blazored.Toast.Services.IToastService ToastService

@* <button class="btn btn-primary" @onclick="() => ToastService.ShowSuccess(" It works !", "Success" )">
    Test the toast
</button> *@

<h3>Crowd Info Detail</h3>

@* @if (CurrentCrowdInfo is not null)
{
    <div class="detail-container bordeaux-background">
        <p>Name : @CurrentCrowdInfo.LocationName </p>
        <p>Authority : @CurrentCrowdInfo.Latitude</p>
        <p>License Number : @CurrentCrowdInfo.Longitude</p>
        <p>URL : @CurrentCrowdInfo.CrowdLevel</p>
        <p>Date : @CurrentCrowdInfo.Timestamp</p>
    </div>
} *@
else
{
    <p>Loading Crowd Info details...</p>
}


@code {

}























































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




