@* @page "/event/{Id:int}" *@
@page "/eventdetail/{Id:int}"
@inherits EventDetail
@using CitizenHackathon2025.Blazor.DTOs;
@inject Blazored.Toast.Services.IToastService ToastService

<h3>Event Detail</h3>

@if (CurrentEvent is not null)
{
    <div class="detail-container bordeaux-background">
        <p>Name : @CurrentEvent.Name</p>
        <p>Latitude : @CurrentEvent.Latitude</p>
        <p>Longitude : @CurrentEvent.Longitude</p>
        <p>Date Event : @CurrentEvent.DateEvent</p>
        <p>Expected Crowd : @CurrentEvent.ExpectedCrowd</p>
        <p>Is Outdoor : @CurrentEvent.IsOutdoor</p>
    </div>
    <NavLink class="chip" href="/eventview">← Back to list</NavLink>
}
else
{
<p>Loading Event details...</p>
}




























































































@* /*// Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved.*/ *@