@page "/place/{Id:int}"
@page "/placedetail"
@page "/placedetail/{Id:int}"
@using CitizenHackathon2025.Blazor.DTOs;
@inject Blazored.Toast.Services.IToastService ToastService

<h3>Place Detail</h3>

@if (Id <= 0)
{
    <p>No identifier provided. Used <code>/placedetail/123</code> or <code>/placedetail?id=123</code>.</p>
}

@if (CurrentPlace is not null)
{
    <div class="detail-container bordeaux-background">
        <p>Location Name : @CurrentPlace.Name</p>
        <p>Latitude : @CurrentPlace.Latitude</p>
        <p>Longitude : @CurrentPlace.Longitude</p>
        <p>Type : @CurrentPlace.Type</p>
        <p>Indoor : @CurrentPlace.Indoor</p>
        <p>Capacity : @CurrentPlace.Capacity</p>
        <p>Tag : @CurrentPlace.Tag</p>
    </div>
}
else
{
    <p>Loading places details...</p>
}






























































































































        @* /*// Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved.*/ *@