@* NavMenu.razor *@
<nav class="main-nav @(collapseNavMenu ? "is-open" : "")" @ref="_navRef" )">
    <div class="nav-container">
        <div class="nav-bar">
            <a href="/" class="logo"><b>Welcome</b></a>

            <div class="nav-bar-right">
                <DarkModeToggle />

                <button class="nav-toggle" type="button"
                        @onclick="ToggleNavMenu"
                        aria-label="Toggle navigation"
                        aria-expanded="@(!collapseNavMenu)">
                    <span class="hamburger"></span>
                </button>
            </div>
        </div>

        @* Desktop links (always visible) *@
        <ul class="nav-links desktop">
            @if (IsHomePage)
            {
                @foreach (var item in MenuItems)
                {
                    <li>
                        <NavLink href="@item.Href" class="nav-link" ActiveClass="active">
                            @item.Icon @item.Text
                        </NavLink>
                    </li>
                }
            }
            else
            {
                <li><NavLink href="/" class="nav-link">Back Home</NavLink></li>
            }
        </ul>

        @* Mobile overlay + drawer *@
        <div class="nav-overlay @(collapseNavMenu ? "" : "show")" @onclick="CloseMenu"></div>

        <aside class="nav-drawer @(collapseNavMenu ? "" : "show")" role="dialog" aria-modal="true">
            <ul class="nav-links mobile">
                @if (IsHomePage)
                {
                    @foreach (var item in MenuItems)
                    {
                        <li>
                            <NavLink href="@item.Href" @onclick="CloseMenu" class="nav-link" ActiveClass="active">
                                @item.Icon @item.Text
                            </NavLink>
                        </li>
                    }
                }
                else
                {
                    <li><NavLink href="/" @onclick="CloseMenu" class="nav-link">Back Home</NavLink></li>
                }
            </ul>
        </aside>
    </div>
</nav>






























































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




