@* NavMenu.razor *@
<nav class="main-nav @(isMenuOpen ? "is-open" : "")" @ref="_navRef">
    <div class="nav-container">
        <a href="/" class="logo"><b>Welcome</b></a>

        <ul class="nav-links desktop">
            @foreach (var item in MenuItems)
            {
                <li>
                    <NavLink href="@item.Href" class="nav-link" ActiveClass="active">
                        @item.Icon @item.Text
                    </NavLink>
                </li>
            }
        </ul>

        <button class="nav-toggle" type="button"
                @onclick="ToggleNavMenu"
                aria-label="Toggle navigation"
                aria-expanded="@isMenuOpen">
            <span class="burger"></span>
        </button>
    </div>
    <aside class="nav-drawer @(isMenuOpen ? "show" : "")" role="dialog" aria-modal="true">
        <ul class="nav-links mobile">
            @foreach (var item in MenuItems)
            {
                <li>
                    <NavLink href="@item.Href" class="nav-link" ActiveClass="active"
                             @onclick="CloseMenu">
                        @item.Icon @item.Text
                    </NavLink>
                </li>
            }
        </ul>
    </aside>
    <div class="nav-overlay @(isMenuOpen ? "show" : "")" @onclick="CloseMenu"></div>
</nav>
































































































@* // Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025V5.Blazor.Client. All rights reserved. *@




